
.searchInput{
	background: #FFFFFF;
    border-radius: 6px 0px 0px 6px;
    padding: 12.5px 78px 11.5px 10px;
    border: none;
    margin: 0;
}

.searchInput input:focus, input:valid{
	border: white;
	outline: white;
}

.searchDiv{
	display: flex;
	align-items: center;
}
.buttonSearch{
	background-image: none;
    height: 39px;
    padding-top: 2px;
    cursor: pointer;
	border-radius: 0 6px 6px 0;
    width: 46px;
    border: 0 white;
    background-color: #fff;
    top: 8px;
    right: 1px;
}

.buttonIcon{
	height: 17px;
    width: 17px;
	color: #094067;
}

