.cardContainer{
    background-color: white;
    border: none;  
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 40, 0, 0.5);
    transition: 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 525px;
    width: 300px;
    justify-content: space-between;
    
}

.cardContainer:hover{
    transform: scale(1.05, 1.05);
    
}

.price{
    font-size: 24px;

}

.pictureContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 58%;
    max-height: 58%;
    align-items: flex-end;
}
.maxImg{
    max-width: 100%;
    height: 90%;
  }