@import url('../../Global.module.css');

.container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 15px 15px var(--secondary-color);
}

.containerAuth {
    width: 25rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    height: 100px;
    width: 100px;
    transition:all .3s ease-in-out;
}

.logo:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 5px 5px var(--primary-color);
-webkit-box-shadow: 0px 0px 5px 5px var(--secondary-color);
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
}

.imgUser {
    margin: 0.5rem;
    width: 50px;
    border-radius: 99%;
}

