.paginadobox{
    margin-top: 30px;
    display: flex;
    text-align: none;
    list-style: none;
    justify-content: center;
    gap: 5px;
    height: auto;
    width: auto;



}

.buttonpag{
    color: var(--primary-color);
    background: #c0e1f8;

    border-radius: 20px;
    padding: 8px;
    box-shadow: none;
    border: 0px;




}
.buttonpag:hover{
    background-color: #0090FF;
    color: white;
    border-color: black;
}

.currentp{
    margin-top: 40px;
    color: var(--primary-color);
    background: #c0e1f8;

    border-radius: 20px;
    padding: 8px;
    box-shadow: none;
    border: 0px;


}