.cardcarrusel{
    
    height: 350px;
    background-image: url(../../assets/OfertaV1.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


}

.cardcarruse2{

    height: 350px;

    background-image: url(../../assets/OfertaV2.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cardcarruse3{

    height: 350px;
    background-image: url(../../assets/Oferta3.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cardcarruse4{

    height: 350px;
    background-image: url(../../assets/Oferta5.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.butcar{
    border: none;
    border-radius: 4px;
    height: 100px;
    width: 40px;
    color: #094067;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.butcar:hover{
    cursor: pointer;
  
}