.cardcarrusel{

    height: 350px;
    background-image: url(../../assets//Oferta1.JPG);
    background-repeat: no-repeat;


}

.cardcarruse2{

    height: 350px;
    background-image: url(../../assets/Oferta2.JPG);
    background-repeat: no-repeat;

}
.cardcarruse3{

    height: 350px;
    background-image: url(../../assets/Oferta3.JPG);
    background-repeat: no-repeat;
}
.cardcarruse4{

    height: 350px;
    background-image: url(../../assets/Oferta5.JPG);
    background-repeat: no-repeat;
}