.fullSize{
  min-height:100vh;
  width: 90%;
  margin-left: 70px;
}

.divButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.display{
    display: flex;
    justify-content: center;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.error{
    color: red;
    margin: 0px;
    font-size: 13px;
}

.divInput{
    display: flex;
    justify-content: space-between;
    width: 61vh;
    padding: 1%;
    align-content: center;
    align-items: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.button{
    cursor: pointer;
    border: 2px solid var(--tertiary-color);
    background: var(--tertiary-color);
    border-radius: 4px;
    font-family: var(--primary-font);
    padding: 12px 28px;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--btn-font-size);
    line-height: 21px;
    color: var(--secondary-color);
    transition-duration: 0.7s;
    margin: 10px;
}

.button:focus {
    color: rgb(248, 248, 248); 
    background-color: rgb(52, 165, 112);
  }

.formSize{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    justify-items: center;
    margin: 5%;
    padding: 5%;
    border-radius: 3%;
    background-color: #c0e1f80d;
    box-shadow: 5px 5px 10px rgba(0, 40, 0, 0.5);
    border: none;
}
.button2{
    cursor: pointer;
    border: 2px solid var(--tertiary-color);
    background: var(--tertiary-color);
    border-radius: 4px;
    padding: 12px 28px;
    color: var(--secondary-color);
    margin: 10px;
}

.button2:focus {
    color: var(--tertiary-color); 
    background-color: var(--secondary-color);
  }

.searchProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categorySelected{
    font-weight: bolder;
    display: flex;
    padding: 0%;
    border-radius: 5%;
    align-content: center;
    align-items: center;
    background: white;
    color: #094067;
    border-color: #094067;
}

.selectUser{
    margin: 25px;
}

.userForm{
    display: flex;
    justify-items: center;
    margin: 5%;
    padding: 5%;
    border-radius: 1%;
    background-color: #c0e1f80d;
    box-shadow: 5px 5px 10px rgb(0 40 0 / 50%);
    border: none;
    align-items: center;
    justify-content: space-between;
}

.updateUser{
    display: flex;
    align-content: center;
    align-items: center;
}

.barDiv{
    background : blue;
}

.logo {
    height: 42px;
    width: 50px;
    transition: all .3s ease-in-out;
    color: white;
}

.asdasdsa{

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around
}

.generalContainer{
    margin: 5%;
    padding: 5%;
    box-shadow: 5px 5px 10px rgb(0 40 0 / 50%);
}
