.fullSize{
  min-height:100vh;
  width: 90%;
  margin-left: 70px;
}

.divButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.display{
    display: flex;
    justify-content: center;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.error{
    color: red;
    margin: 0px;
    font-size: 13px;
}

.divInput{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin-top: 60px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.button{
    cursor: pointer;
    border: 2px solid var(--tertiary-color);
    background: var(--tertiary-color);
    border-radius: 4px;
    font-family: var(--primary-font);
    padding: 12px 28px;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--btn-font-size);
    line-height: 21px;
    color: var(--secondary-color);
    transition-duration: 0.7s;
    margin: 10px;
}

.button:focus {
    color: rgb(248, 248, 248); 
    background-color: rgb(52, 165, 112);
  }

.formSize{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px,3fr));
    justify-items: center;
    margin-top: 15.5px;
    gap: 50px;
}
.button2{
    cursor: pointer;
    border: 2px solid var(--tertiary-color);
    background: var(--tertiary-color);
    border-radius: 4px;
    padding: 12px 28px;
    color: var(--secondary-color);
    margin: 10px;
}

.button2:focus {
    color: rgb(248, 248, 248); 
    background-color: rgb(52, 165, 112);
  }