.grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-items: center;
    margin: auto;
    margin-top: 3%;

}

.containerDiv{
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0 40 0 / 50%);
    transition: 1.5s;
    width: 50%;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 4%;
}