@import url('../../Global.module.css');
.container-index {
  justify-content: center;
    display: inline-grid;
    align-items: center;
    width: 100%;
    justify-items: center;
  min-height: 88.7vh;
  background-color: var(--secondary-color);
}

.container-LoginAuth0 {
  margin: 20px;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 175% ;
  height: max-content;
  padding: 25px 30px;
  border-radius: 5px;
}

.container-purchase {
  margin: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: max-content;
  padding: 5px;
  border: solid 1px var(--secondary-color);
  border-radius: 5px;
}

.title {
  color: var(--primary-color);
}

.btnBlue {
  cursor: pointer;
  border: 1px solid var(--primary-color);
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-family: var(--primary-font);
  padding: 12px 28px;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--btn-font-size);
    transition-duration: 0.7s;
    margin: 20px;

  }
  
  .btnLogout:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.btnLogout {
  cursor: pointer;
  border: 1px solid rgb(235, 14, 14);
  background: rgba(250, 202, 202, 0.904);
  border-radius: 4px;
  color: rgb(235, 14, 14);
  font-family: var(--primary-font);
  padding: 12px 28px;
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--btn-font-size);
  transition-duration: 0.7s;
  
}

.btnLogout:hover {
  color: rgba(250, 202, 202, 0.904);
  background-color: rgb(235, 14, 14);
}

.divForm{
  width: 120%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.container-history {
  margin: 20px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(237px,3fr));
  width: 175%;
  padding: 25px 30px;
  border-radius: 5px;
}
