@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    font-family: 'Poppins', sans-serif;
    --primary-color: #094067;
    --secondary-color: #c0e1f8;
    --tertiary-color: #0090FF;
    --fourth-color: #000000;

    --primary-font: "Poppins";
    --font-weight: 700;

    --h1-size: 32px;
    --h2-size: 24px;
    --h3-size: 16px;

    --btn-font-size: 18px;
    --dur: 1s;

}

body {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.link {
    color: black
}

select {
    border: 0;
    border-width: 0px;
    box-shadow: 5px 5px 10px rgba(0, 40, 0, 0.5);
    border-radius: 5px;
    box-sizing: content-box;
    outline: none;
}

select:focus {
    outline: none !important;
}

select:after {

    background-color: red;
}

select::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    border: transparent;
}

select::-webkit-scrollbar-track {
    background-color: white
}

select::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10rem;
    padding: 30px
}

select option:checked {
    background-color: transparent;
    color: var(--primary-color);
    font-weight: bold;
}

h1 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--h1-size);
    line-height: 96px;
    color: var(--primary-color);
}

h2 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--h2-size);
    line-height: 22px;
    /* or 46% */
    text-align: center;
    letter-spacing: -0.41px;
    color: var(--secondary-color)
}

h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--h3-size);
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    color: var(--secondary-color);
}

h4 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: var(--h3-size);
    line-height: 38px;
    color: var(--primary-font);
}

input {

    background: #ffffff6e;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 40, 0, 0.5);
    margin: 5%
}


.priceHome {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 800;
    font-size: var(--h3-size);
    line-height: 38px;
    color: var(--fourth-color);
}

.description {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: var(--h3-size);
    line-height: 161%;
    color: var(--fourth-color);
    margin-bottom: 20px;
}

.categories {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: var(--h2-size);
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
}

.basicBtn {
    cursor: pointer;
    border: 2px solid var(--tertiary-color);
    background: var(--tertiary-color);
    border-radius: 4px;
    font-family: var(--primary-font);
    padding: 12px 28px;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--btn-font-size);
    line-height: 21px;
    color: var(--secondary-color);
    transition-duration: 0.7s;
}


.basicBtn:hover {
    color: var(--tertiary-color);
    background-color: black;
}

.loginBtn {
    cursor: pointer;
    border: 3px solid var(--tertiary-color);
    border-radius: 15px;
    padding: 1.5% 16px;
    background: var(--primary-color);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: 24px;
    line-height: 21px;
    color: var(--secondary-color);
    transition-duration: 1s;
}

.loginBtn:hover {
    transform: scale(1.15, 1.15);
}

.productContainer {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.login {
    display: flex;
}

.loginContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.inputContainer {
    border: 1px solid #000000;
    border-radius: 25px;
}

.yaya {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-height: 20px;


}

.rere {
    justify-content: flex-end;

    border: none;
    background: var(--tertiary-color);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--btn-font-size);
    padding: 8px 20px;
    align-items: center;
    color: var(--secondary-color);


}

.btnLand {
    border: 2px solid var(--tertiary-color);
    background: var(--tertiary-color);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--btn-font-size);
    line-height: 21px;
    color: var(--secondary-color);
    transition-duration: 0.7s;
    cursor: pointer
}

.btnLand:hover {
    background-color: black;
    cursor:pointer;
}

.cartLogo{
    font-size: 20px;
     color: white;
    margin-top: 7px;
}
.cartLogo:hover{
    color: var(--tertiary-color); 
}

.agregarbtn {

    color: var(--primary-color);
    background: #37c79c;

    border-radius: 20px;
    padding: 8px;
    box-shadow: none;
    border: 0px;



}

.sacarBtn {

    border: 2px solid red;
    background: red;
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--btn-font-size);
    line-height: 21px;
    color: var(--secondary-color);
    transition-duration: 0.7s;
    cursor:pointer;
    padding: 5px 10px;
}
